@import "compass/reset";
@import "compass/typography/vertical_rhythm";

/* Variables */
$column: 3em;
$gutter: 2em;

@include establish-baseline(18px);

/* Helper functions */
@function cols($number) {
	@return ($number*$column + ($number - 1)*$gutter);
}

body {
	color: #333;
	font-family: "Source Sans Pro", sans-serif;
}


.button {
	border: 3px solid #999;
	border-radius: 100px;
	color: #999;
	box-sizing: border-box;
	display: inline-block;
	padding: .25em 1em;
	margin: 1em 0;
	font-weight: bold;
	text-decoration: none;
}


/**
 * Content containers
 */
.container,
.header-inner {
	height: auto;
	margin: auto;
	overflow: hidden;
	width: cols(12);
}

header, footer {
	clear: both;
	width: 100%;
}


/**
 * Site header
 **/
header {
	@include rhythm(0,7,0,1);
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-position: bottom;

	.title {
		@include adjust-font-size-to( 1.618*1.618em );
		color: #333;
		// display: inline-block;
		font-family: "Raleway";
		font-weight: bolder;
	}

	.subtitle {
		@include adjust-font-size-to( 1.618em );
		color: #999;
		// display: inline-block;
		font-style: italic;
	}
}

.header-inner {
	background-color: #fff;
	padding: 2em 3em 0;
}


/**
 * Site main/body content
 **/
main {
	box-sizing: border-box;
	float: left;
	padding-right: cols(1);
	margin-right: $gutter;
	width: cols(8);
}

.post-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.post {
	margin-bottom: 1em;

	h2 {
		@include adjust-font-size-to(1.618em);
		color: #444;
		font-weight: 700;
		font-family: "Raleway", sans-serif;
	}
}


/**
 * Sidebar
 **/
aside {
	box-sizing: border-box;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
	float: left;
	padding: 2em;
	width: cols(4);

	.photo, .name {
		text-align: center;
	}

	.photo img {
		border: 1px solid #ccc;
		border-radius: 100px;		
		padding: 3px;
	}

	.name {
		font-weight: bold;
	}

	p {
		@include adjust-font-size-to( 14px );
		color: #666;
	}
}


/**
 * Footer
 **/
footer {
	@include rhythm(0,1,2,0);
	@include adjust-font-size-to( .8em );
	color: #999;
	text-align: center;
}